* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    min-height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
}