* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8vh;
    justify-content: space-evenly;
}

.form {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form input {
    width: 70%;
    color: #707070;
    border: none;
    border-bottom: 2px solid #885EB3;
    background: none;
}

input::placeholder {
    color: #fff;
  }

.form button {
    border-radius: 14px;
    padding: 20px 26px;
    background-color: #885EB3;
    color: #fff;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-out;
    border: none;
}

.form button:hover {
    border: 4px solid #885EB3;
    background-color: transparent;
    padding: 16px 22px;
    color: #885EB3;
}

.list-container {
    width: 40%;
    padding: 25px 40px;
    /* background-color: #885EB3; */
    border-radius: 20px;
}

.list-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .form {
        width: 85vw;
        flex-direction: column;
    }

    .form input {
        width: 100%;
        margin-bottom: 10px;
    }
    .form button {
        border-radius: 10px;
        padding: 10px 13px;
    }
    .list-container {
        width: 85%;
        padding: 5px 20px;
        background-color: #fff;
    }
  }